# Input files
input.txt
calibration.txt

# .NET Build products
[Bb]in/
[Oo]bj/

# Cargo Build products
target/

# Java Build Products
*.class

# node dependencies
node_modules

# Day 10 - transpiled Javascript products
hoofit.js
hoofit.js.map
